---
import PageLayout from '@layouts/PageLayout.astro'
const res = await fetch(`${Astro.url.origin}/api/courses/list`)
let courses = await res.json()
export const prerender = false
---

<PageLayout navColor="dark">
  <div class="grid grid-cols-3 mx-auto w-[60%]">
    {
      courses.map((course: any) => {
        return (
          <a
            class="couse-card w-[90%] group mx-auto rounded-xl overflow-hidden border-2 border-solid border-primary/20 mb-12 cursor-pointer hover:border-primary/50 transition-all"
            href={`/academics/courses/${course.id.split(':')[1]}`}
          >
            {course.image && (
              <div class="image-container w-full max-h-[20rem] overflow-hidden">
                <img
                  class="course-image block object-cover scale-125 group-hover:scale-100 transition-all"
                  src={course.image}
                  alt={course.name + ' Cover Image'}
                />
              </div>
            )}
            <div class="course-content px-8 py-4">
              <div class="course-name text-4xl mb-4">{course.name}</div>
              <div class="course-relevance text-2xl">{course.relevance}</div>
            </div>
          </a>
        )
      })
    }
  </div>
</PageLayout>
