// Universal Reset
@font-face {
  font-family: Canela;
  src: url('../assets/CanelaDeck/Regular.otf');
}

@font-face {
  font-family: 'GT America';
  src: url('../assets/GTAmerica/Regular.otf');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none; 
}

html {
  font-size: 10px;
}

body {
  font-size: inherit;
}