@import './components/counter'

// Universal Reset
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none; 
}

html {
  font-size: 10px;
}

body {
  font-size: inherit;
  font-family: textFont, sans-serif;
}