---
import PageLayout from '@layouts/PageLayout.astro'
---

<PageLayout navColor="dark">
  <div class="w-[60%] mx-auto">
    <h1 class="text-primary text-8xl font-bold">Oops! Page not found.</h1>
    <p class="text-3xl my-10">
      You can <a href="/" class="text-primary hover:underline">go back home</a>
      or check out the following links:
    </p>
  </div>
</PageLayout>
