---
import SiteLayout from '@layouts/SiteLayout.astro'
---

<script>
  import { navColor } from '@store/menu'
  navColor.set('light')
</script>

<SiteLayout>
  <div class="home flex items-center justify-center w-full h-[95%]">
    <div class="w-full px-80 flex flex-col items-center justify-center font-heading text-white">
      <h1 class="text-[12rem] ">
        Department of IT
      </h1>
      <h6 class="text-3xl w-1/2 text-center">To provide student-centered state-of-the-art academically enriched environment for productive careers in the world of computing through creativity and innovation</h6>
    </div>
    
  </div>
  <div class="w-full px-80 flex flex-col items-center justify-center font-heading text-white">
      <h1 class="text-[12rem] ">
        Department of IT
      </h1>
      <h6 class="text-3xl w-1/2 text-center">To provide student-centered state-of-the-art academically enriched environment for productive careers in the world of computing through creativity and innovation</h6>
    </div>
    <div class="w-full px-80 flex flex-col items-center justify-center font-heading text-white">
      <h1 class="text-[12rem] ">
        Department of IT
      </h1>
      <h6 class="text-3xl w-1/2 text-center">To provide student-centered state-of-the-art academically enriched environment for productive careers in the world of computing through creativity and innovation</h6>
    </div>
    <div class="w-full px-80 flex flex-col items-center justify-center font-heading text-white">
      <h1 class="text-[12rem] ">
        Department of IT
      </h1>
      <h6 class="text-3xl w-1/2 text-center">To provide student-centered state-of-the-art academically enriched environment for productive careers in the world of computing through creativity and innovation</h6>
    </div>
</SiteLayout>

<style lang="stylus">
  opacity = 0.5
  lingrad_1  = linear-gradient(to bottom, rgba(#000, opacity), rgba(#000, opacity))
  lingrad_2 = linear-gradient(to bottom, rgba(#000, 0.7), rgba(#000, 0), rgba(#000, 0))
  
  .home
    background-image lingrad_1, lingrad_2, url('../assets/images/hero.jpg')
    background-repeat no-repeat
    background-size 100%
    background-position center

</style>
