---
import Menu from '@components/Menu.vapor.vue'
import SiteLayout from '@layouts/SiteLayout.astro'
import NavbarLinks from '@components/NavbarLinks.vapor.vue'
import { Image } from 'astro:assets'
import logo from '@assets/images/logo.png'
import Icon from '@components/Icon.vapor.vue'
const openMenu = () => {
  isMenuOpen.set(true)
  console.log(isMenuOpen.get())
}
---

<script>
  import { isMenuOpen } from '@store/menu'

  const openMenu = () => isMenuOpen.set(true)
  const closeMenu = () => isMenuOpen.set(false)

  document.querySelector('.menu-trigger').addEventListener('click', openMenu)
</script>

<SiteLayout>
  <main class="w-screen h-screen">
    <div class="home w-screen h-5/6">
      <div class="navbar px-60 text-white py-8 w-full flex items-center justify-between">
        <div class="navbar-left flex flex-col items-start justify-center">
          <div class="menu-logo-main flex items-end justify-start">
            <div class="menu-logo-img w-28 aspect-square">
              <Image
                slot="logo"
                alt="Vishwakarma Institute of Technology Logo"
                src={logo}
              />
            </div>
            <div class="menu-logo font-heading text-6xl">ishwakarma</div>
          </div>

          <div class="menu-logo font-heading text-2xl px-28">
            Institute of Technology
          </div>
        </div>
        <div class="navbar-right flex flex-col items-end justify-start w-[80%]">

          <div class="navbar-right-top">
            <button class="menu-trigger flex items-center justify-center text-4xl">
              <span>Menu</span>
              <Icon name="bars-2" class="w-8 ml-4" />
            </button>
          </div>
          
          <NavbarLinks client:load />
        </div>
      </div>

      <Menu client:load>
        <div
          class="menu-bar w-full my-4 mb-40 bg-red flex items-center justify-between"
          slot="menu-bar"
        >
          <div class="menu-bar-left flex flex-col items-start justify-center">
            <div class="menu-logo-main flex items-end justify-start">
              <div class="menu-logo-img w-28 aspect-square">
                <!-- Using Astro's built in Image component gives better optimisation for images -->
                <Image
                  slot="logo"
                  alt="Vishwakarma Institute of Technology Logo"
                  src={logo}
                />
              </div>
              <div class="menu-logo font-heading text-6xl">ishwakarma</div>
            </div>

            <div class="menu-logo font-heading text-2xl px-28">
              Institute of Technology
            </div>
          </div>
          <button
            class="menu-close text-3xl flex items-center justify-end cursor-pointer text-gray-400 hover:text-white transition-colors"
          >
            Close

            <!-- Even though Icon is also an island, it won't ship with any javascript.
               It will be rendered on server and only html/css will be sent to browser. -->
            <Icon name="x-circle" class="ml-4 w-16" />
          </button>
        </div>
        <Icon name="chevron-right" class="w-8" slot="arrow-right" />
      </Menu>
    </div>
  </main>
</SiteLayout>

<style lang="stylus">
  lingrad_1  = linear-gradient(to bottom, rgba(#000, 0.6), rgba(#000, 0.005))
  lingrad_2 = linear-gradient(to bottom, rgba(#000, 0.1), rgba(#000, 0.1))
  
  .home
    background-image lingrad_1, url('../assets/images/hero.jpeg')
    background-repeat no-repeat
    background-size 100%
    background-position center
</style>
