---
import '../stylus/base.styl'
import Navbar from './Navbar.astro'
import Footer from './Footer.astro';
import { navColor } from '@store/menu';

const title = `Academics - ${Astro.props.courseName || 'Course'}`
navColor.set(Astro.props.navColor || 'light');
---
<script>
  import { navColor } from "@store/menu";
  navColor.set(document.body.dataset.navColor);
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>

  <body
  data-nav-color={Astro.props.navColor || 'light'}
  >
    <Navbar />

    <main
      class="mx-auto w-[60%] min-h-screen grid grid-cols-[2fr_1fr] py-60 z-0"
    >
        <div class="course-intro w-full px-28">
          <slot name="content" />
        </div>

        
      <aside class="course-summary rounded-xl">
        <slot name="summary" />
      </aside>
    </main>
    <Footer />
  </body>
  
</html>
