---
import Icon from '@components/Icon.vapor.vue'
---

<div class="grid grid-cols-2 px-80 bg-black/90 text-white w-full text-center text-4xl font-heading py-12">
  <p>Established: 2001</p>
  <p>Intake: 180</p>
</div>
<footer
  class="px-80 bg-black/90 grid grid-cols-4 text-white font-text py-20 text-2xl"
>


  <div class="contact-us text-8xl font-heading">
    Contact Us
  </div>

  <div class="contact-details [&>p]:my-4 flex flex-col">
    <p>Phone: <a href="tel:+919999999999">91 - 20 - 2420 2180 / 2428 3001</a></p>
    <p>Email: <a href="mailto:hodit@vit.edu">hodit@vit.edu</a></p>
    <p>Location: Third Floor, Building No.1</p>
  </div>
  <div class="address capitalize w-3/4">
    Vishwakarma Institute of Technology, Upper Indira Nagar, Bibwewadi, Pune,
    Maharashtra - 411037
  </div>
  <div class="socials [&>div>span]:ml-4 [&>div]:mb-8">
    <div class="flex">
      <Icon name="map-pin" class="w-8" />
      <span>Google Maps</span>
    </div>
    <div class="flex">
      <Icon name="map-pin" class="w-8" />
      <span>LinkedIN</span>
    </div>
    <div class="flex">
      <Icon name="map-pin" class="w-8" />
      <span>Facebook</span>
    </div>
    <div class="flex">
      <Icon name="map-pin" class="w-8" />
      <span>Instagram</span>
    </div>
      
  </div>
</footer>
