---
import Icon from '@components/Icon.vapor.vue'
import { Image } from 'astro:assets'
import logo from '@assets/images/logo.png'

import NavbarIsland from '@components/Navbar.vapor.vue'
import Menu from '@components/Menu.vapor.vue'
---

<NavbarIsland client:only>
  <Image src={logo} alt="VIT Logo" slot="logo" />
  <Menu client:load slot="menu">
    <div
      class="menu-bar w-full my-4 mb-40 bg-red flex items-center justify-between"
      slot="menu-bar"
    >
      <div class="menu-bar-left flex flex-col items-start justify-center">
        <div class="menu-logo-main flex items-end justify-start">
          <div class="menu-logo-img w-28 aspect-square">
            <!-- Using Astro's built in Image component gives better optimisation for images -->
            <Image src={logo} alt="VIT Logo" slot="logo" />
            
          </div>
          <div class="menu-logo font-heading text-6xl">ishwakarma</div>
        </div>

        <div class="menu-logo font-heading text-2xl px-28">
          Institute of Technology
        </div>
      </div>
      <button
        class="menu-close text-3xl flex items-center justify-end cursor-pointer text-gray-400 hover:text-white transition-colors"
      >
        Close

        <!-- Even though Icon is also an island, it won't ship with any javascript.
               It will be rendered on server and only html/css will be sent to browser. -->
        <Icon name="x-circle" class="ml-4 w-16" />
      </button>
    </div>
    <Icon name="chevron-right" class="w-8" slot="arrow-right" />
  </Menu>
  <Icon name="bars-2" class="w-8 ml-4" slot="close-icon" />

</NavbarIsland>
