---
import '../stylus/base.styl'
import Footer from './Footer.astro'
import Navbar from './Navbar.astro'
import { navColor, smallNavColor } from '@store/menu'

const title = Astro.props.title || 'Vishwakamra Institute of Technology'

navColor.set(Astro.props.navColor || 'light')
---

<script>
  import { navColor, smallNavColor } from '@store/menu'
  navColor.set(document.body.dataset.navColor)
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>

  <body data-nav-color={Astro.props.navColor || 'light'}>
    <Navbar />
    <main class="absolute top-0 left-0 w-full h-screen min-h-screen py-60">
      <slot />
      <Footer />
    </main>
  </body>
</html>
