---
import { getMetadata } from '@utils/utils'
import '../stylus/base.styl'
import '@assets/CanelaDeck/Regular.otf'
import '@assets/GTAmerica/Regular.otf'

const pathName = Astro.url.pathname
const metadata = getMetadata(pathName)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{metadata.title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>
