---
import '../stylus/base.styl'

const title = Astro.props.title || 'Vishwakamra Institute of Technology'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>
