---
import '../stylus/base.styl'
import Navbar from './Navbar.astro';
import Footer from './Footer.astro';
import { navColor, smallNavColor } from '@store/menu';

const title = Astro.props.title || 'Vishwakamra Institute of Technology'
navColor.set(Astro.props.navColor || 'light');
---
<script>
  import { navColor, smallNavColor } from "@store/menu";
  navColor.set(document.body.dataset.navColor);
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>

  
  <body
  data-nav-color={Astro.props.navColor || 'light'}
  >
    <Navbar />
    <main class="w-full h-screen min-h-screen">
      <slot />
      <Footer />
    </main>
  </body>

</html>
