---
import '../stylus/base.styl'
import Navbar from './Navbar.astro'
import Footer from './Footer.astro'
import { navTheme, smallNavTheme } from '@store/menu'

const title = Astro.props.title || 'Vishwakamra Institute of Technology'
navTheme.set(Astro.props.navTheme || 'light')
smallNavTheme.set(Astro.props.smallNavTheme || 'light')
---

<script>
  import { navTheme, smallNavTheme } from '@store/menu'
  navTheme.set(document.body.dataset.navTheme)
  smallNavTheme.set(document.body.dataset.smallNavTheme)
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>

  <body
    data-nav-theme={Astro.props.navTheme || 'light'}
    data-small-nav-theme={Astro.props.smallNavTheme || 'light'}
  >
    <Navbar />
    <main class="w-full h-screen min-h-screen">
      <slot />
      <Footer />
    </main>
  </body>
</html>
